body {
    background-image: url(../images/background.jpg);
    color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #C4D846;
}

.section {
  color: white;
}

.views-css-tables-table--thead {
  padding-bottom: 4%;
}

.imgwrapper {
  width: 80%;
}

a.wiki-link {
  display: none;
}

.owned_by {
  background-color: #b5afaf;
  text-align: center;
}
